{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <main class="intro-section">
        <div class="container">
            <div class="grid">
            <div class="column-xs-12">
                <ul class="slider">
                <li class="slider-item active">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">Hi!</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                        <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Hi!</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">I'm a senior at NIS.</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">I'm a senior at NIS.</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">I'm 17 years old.</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">I'm 17 years old.</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="text-align: center;"><span class="underline">Have a nice day!</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Have a nice day!</span></h1>
                            </a>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                </ul>
            <div class="grid">
                <div class="column-xs-12">
                <div class="controls">
                    <button class="previous">
                        <i class="ion-ios-arrow-thin-left"></i>
                    </a>
                    <button class="next">
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
{% endblock content %}
