{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <main class="intro-section">
        <div class="container">
            <div class="grid">
            <div class="column-xs-12">
                <ul class="slider">
                <li class="slider-item active">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="width: auto"><span class="underline">Game Development</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                        <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Game Development</span></h1>
                            </a>
                            </div>
                            <p class="description">Peace Data — hard "Roguelike" game, in which you have to play for Bitard, saving Rusland from the tyranny of the authorities that destroyed the opposition and led the country to ruin, making slaves of citizens.</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="width: auto"><span class="underline">Mobile Development</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/2.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Mobile Development</span></h1>
                            </a>
                            </div>
                            <p class="description">I created a mobile application that unites students into one NIS Taldykorgan team and shares with them the latest news from the life of the school.</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="width: auto"><span class="underline">Programming Club Founder</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/3.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Programming Club Founder</span></h1>
                            </a>
                            </div>
                            <p class="description">Founded and develop a programming club at NIS Taldykorgan, which focuses on teaching students programming skills</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                <li class="slider-item">
                    <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                        <div class="intro">
                        <a href="#">
                            <h1 class="title" style="width: auto"><span class="underline">Magazine NIS NEWS.</span></h1>
                        </a>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                        <div class="image-holder">
                            <a href="https://store.steampowered.com/app/1209140/Peace_Data/"><img style="position: relative;" src="{% static 'assets/images/1.jpg' %}" alt="https://store.steampowered.com/app/1209140/Peace_Data/"></a>
                        </div>
                        <div class="grid">
                        <div class="column-xs-12 column-md-9">
                            <div class="intro show-mobile">
                            <a href="#">
                                <h1 class="title"><span class="underline">Magazine NIS NEWS.</span></h1>
                            </a>
                            </div>
                            <p class="description">Published 20+ articles in a school magazine, with an audience of over 200 students.</p>
                        </div>
                        </div>
                    </div>
                    </div>
                </li>
                </ul>
            <div class="grid">
                <div class="column-xs-12">
                <div class="controls">
                    <button class="previous">
                        <i class="ion-ios-arrow-thin-left"></i>
                    </a>
                    <button class="next">
                        <i class="ion-ios-arrow-thin-right"></i>
                    </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </main>
{% endblock content %}

